/* light or dark clock */
body {
  /* dark clock */
  --colorbkg: black;
  --colordig: #ffffff7d;
  --colorsec1: #ffffff6e;
  --opacity: 0.5;
  --filter: saturate(80%) brightness(140%);

  /* light clock */
  /* --colorbkg: white;
  --colordig: #00000054;
  --colorsec1: #00000045;
  --opacity: 0.6;
  --filter: saturate(100%); */
}

/* clock color palette */
body {
  /* original day clock */
  /* --colorh: #8a8a8a;
  --colorm: #0000FF;
  --colors: #FF0000; */

  /* original night clock */
  /* --colorh: #f97f7f;
  --colorm: #79bae4;
  --colors: #86ef76; */

  /* tuscan clock */
  /* --colorh: #f38854;
  --colorm: #7ed08a;
  --colors: #f3e772; */

  /* forest clock */
  --colorh: #3b7161;
  --colorm: #6cad9a;
  --colors: #96c581;

}

div.clock_container {
  align-items: center;
  align-content: center;
}
div.clock {
  width:225px;
  height:225px;
  position:relative;
  margin-left: 225px;
  margin-top: 225px;
}
div.dig, div.center, div.hour, div.min, div.sec {
    position:absolute;
}
div.hour, div.min, div.sec {
    width:5px;
    height:5px;
    font-size:5px;
}
div.dig {
    width:30px;
    height:30px;
    font-family:arial,verdana,sans-serif;
    font-size:36px;
    text-align:center;
    padding-top:10px
}
body {
  background-color: var(--colorbkg);
}
div.dig {
  color: var(--colordig);
}
div.hour {
  background: var(--colorh);
  opacity: var(--opacity);
  filter: var(--filter);
}
div.min {
  background: var(--colorm);
  opacity: var(--opacity);
  filter: var(--filter);
}
div.sec {
  background: var(--colors);
  opacity: var(--opacity);
  filter: var(--filter);
}
#center {
  background: var(--colorsec1);
  width: 6px;
  height: 6px;
  font-size: 6px;
  top: 0px;
  left: 0px;
  margin: 0px;
}
#sec1 {
  display: none;
}
#min1 {
  display: none;
}
#hour1 {
  display: none;
}
